html, body {
    margin: 0px;
}

body {
    background: rgb(240,240,240);
    font-size: 12px;
}

.bottompanel {

    background: rgb(40,80,120);

    width: 865px;
    height: 20px;

    margin-top: -15px;

}

.toppanel{

    color: rgb(255, 255, 255);
    background: rgb(40,80,120);

    text-align: center;

    width: 855px;
    height: 90px;

    padding: 10px 5px 20px 5px;

}

.leftpanel{

    background: rgb(200, 200, 200);
    
    padding: 5px;
    width: 255px;

    height: 1156px;
    
    float: left;
    overflow: hidden;
}

.rightpanel{

    background: rgb(230, 230, 230);

    width: 595px;
    height: 1160px;

    padding: 3px;
    padding-bottom: -10px;

    display: inline-block;
    overflow: hidden;
}

.contents {
    font-family: arial;
    color: rgb(0, 0, 0)
}

.sections {
    font-family: consolas;
    color: rgb(0, 0, 0);
}

.headers {
    color: rgb(0, 0, 0);
}

.icons {
    text-align: right;
}

.container {
    color: rgb(0,0,0);
    margin: 10px;
}

.imgs {
    max-width: 200px;
    margin: -10px 0px 0px -34px;
}

.imgcontainer {

    position: absolute;
    overflow: hidden;

    max-width: 120px;
    max-height: 120px;

    left: 70px;
    top: 55px;

    border-radius: 50% 50% 50% 50%;

}

.mainleftcontainer {
    margin-top: 60px;
}

.symbols {

    vertical-align: bottom;
    float: left;

    padding: 0px 5px 0px 5px;

}

.ps {
    vertical-align: top;
    font-family: 'arial narrow';
}

.aboutme {
    padding: 0px 5px opx 5px;
}

.exprienceheader {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.expriencealt {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;

    font-size: 10px;
    font-weight: normal;

}

.referenceheader {
    font-weight: bold;
    display: inline-block;
}

.referencealt {
    font-style: italic;
    font-size: 10px;
    font-weight: normal;
}

.progresses {
    display: inline-block;
    float: right;
}

.pro1 {
    display: block;
    float: left;
    margin: 3px 15px 3px 3px;
}

.pro2 {
    display: inline-block;
    width: 45%;
    margin: 3px 5px 3px 12px;
}

@media print {
    .collage_bg {
        -webkit-print-color-adjust: exact;        
    }
}

@media screen, print and (min-width: 904px) {
    .mainheader {
        width: 50%;
        margin-left: 200px;
    }

    .bigheader {
        font-size: 28px;    
    }

    .smallheader {
        font-size: 16px;
    }

    .small {
        font-size: 40px;
    }

    .ucases {
        font-size: 55px;
    }

    .mainleftcontainer {
        margin-top: 60px;
    }
}

@media only screen and (max-width: 904px) {
    .mainheader {
        width: 70%;
    }
    .bigheader {
        font-size: 20px;
    }
    .smallheader {
        font-size: 12px;
    }

    .small {
        font-size: 20px;
    }

    .ucases {
        font-size: 25px;
    }

    .mainleftcontainer {
        margin-top: 0px;
    }
}

.header {
    font-family: Verdana, sans-serif;
    margin-top: 5px;
}

.righthead {
    float: right;
    display: block;
    width: 10px;
    margin-right: 10px;
    margin-top: -25px;
}

.mywhite {
    color: white;
}

.lefthead {
    float: left;
}

.icn {
    max-width: 15px;
}

.links {
    color: black;
    text-decoration: unset;
    cursor: pointer;
}

.links2 {
    text-decoration: unset;
    color: white;
}

.biggericons {
    font-size: 18px;
}

.flagdiv {
    max-width: 30px;
}

.flagz {

    margin-top: 5px;
    margin-bottom: 0px;

    max-height: 25px;

}

.underlines {
    text-decoration: underline;
}

.certimg {
    display: inline-block;
}

.certpics {
    display: inline-block;
    margin-right: 15px;
}

.imgcert {
    max-height: 30px;
}

.othcerdiv {
    margin: 10px 0px 5px 0px;
}

.othcer {
    text-decoration: underline;
    font-style: italic;
}

.gitlink {

    float: right;

    text-align: right;
    position: relative;

    font-size: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    min-height: 32px;
    width: 28%;

    background: url(../img/svg/url.svg) no-repeat right;
    background-size: cover;

    margin-right: -12px;
    margin-top: -12px;

    z-index: 100;
}

.innerlink {

    color: white;

    position: absolute;
    
    bottom: 4px;
    right: 8px;

}

.margintops {
    margin-top: 25px;
}

.languages {
    float: left;
    width: 38%;
    margin-top: 15px;
}

.pagetop {
    margin-top: -5px;
}